<nav class="navbar navbar-expand-lg border-bottom border-2">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <a href="/">
        <img src="/assets/logo.png" alt="Sports Scheduler Logo" width="50" height="50" class="d-inline-block align-top" />
      </a>
      <a class="navbar-brand" href="/"> Sportzzz </a>
    </div>

    <!-- Login, Sign Up, and Sign Out buttons -->
    <ul class="navbar-nav">
      <% if (typeof username !== 'undefined') { %>
      <li class="nav-item" id="userSection">
        <span class="nav-link fw-bold">Welcome, <span id="userName"><%= username %></span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signout" id="signOutLink">Sign Out</a>
      </li>

      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/login" id="loginLink">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup" id="signUpLink">Sign Up</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>